

{% block head%}
  <h1>SignUp<span>.</span></h1>
  <p style="color:white">Join Our Gym Fitness Programs Today!</p>
<div style="text-align:start;">

{% for message in messages%}

<div class="alert alert-{{message.tags}}" alert-dismissibl fade show role="alert">
<strong></strong> {{message}}
<button type="button" class="btn-close" data-bs-dismiss="alert"
aria-label="close"></button>
</div>

{% endfor %}

 <form action="/signup" method="post">{% csrf_token %}
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
      <label class="form-label text-light" for="form3Example1">First name</label>
        <input type="text" id="firstname" class="form-control" placeholder="Enter first name" name="firstname" />
        
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
       <label class="form-label text-light" for="form3Example2">Last name</label>
        <input type="text" id="lastname" class="form-control" placeholder="Enter last name" name="lastname" />
       
      </div>
    </div>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
   <label class="form-label text-light" for="form3Example3">Email address</label>
    <input type="email" id="email" class="form-control" placeholder="Enter email" required name="email" />
   
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
  <label class="form-label text-light" for="form3Example4">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Enter password" required name="password" />
    
  </div>

    <div class="form-outline mb-4">
  <label class="form-label text-light" for="form3Example4">confirm password</label>
    <input type="password" id="confirmpassword" class="form-control" placeholder="Enter password again" required name="confirmpassword"/>
    
  </div>


 
  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p style="color:white">or sign up with:</p>
    <button type="button" class="btn btn-secondary btn-floating mx-1">
      <i class="fab fa-facebook-f"></i>
    </button>

    <button type="button" class="btn btn-secondary btn-floating mx-1">
      <i class="fab fa-google"></i>
    </button>

    <button type="button" class="btn btn-secondary btn-floating mx-1">
      <i class="fab fa-twitter"></i>
    </button>

    <button type="button" class="btn btn-secondary btn-floating mx-1">
      <i class="fab fa-github"></i>
    </button>
  </div>
</form>
</div>
{% endblock head%}